<!DOCTYPE html>
<html>

<head>
    <title>Todo List | Express.js Todo App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header"><a href="/" class="navbar-brand">Express.js Todo App</a></div>
            </div>
        </div>
        {{{body}}}
    </div>
</body>

</html>        